In [55]:
import pandas as pd

In [56]:
automob_df = pd.read_csv("Datasets/automobile.csv")
automob_df.head()

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,13495
1,alfa-romero,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,16500
2,alfa-romero,gas,two,hatchback,front,171.2,65.5,52.4,six,154,5000,19,26,16500
3,audi,gas,four,sedan,front,176.6,66.2,54.3,four,102,5500,24,30,13950
4,audi,gas,four,sedan,front,176.6,66.4,54.3,five,115,5500,18,22,17450

In [57]:
automob_df.isnull().sum()

make                0
fuel-type           0
num-of-doors        0
body-style          0
engine-location     0
length              0
width               0
height              0
num-of-cylinders    0
horsepower          0
peak-rpm            0
city-mpg            0
highway-mpg         0
price               0
dtype: int64

In [58]:
automob_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              201 non-null    object
 1   fuel-type         201 non-null    object
 2   num-of-doors      201 non-null    object
 3   body-style        201 non-null    object
 4   engine-location   201 non-null    object
 5   length            201 non-null    float64
 6   width             201 non-null    float64
 7   height            201 non-null    float64
 8   num-of-cylinders  201 non-null    object
 9   horsepower        201 non-null    object
 10  peak-rpm          201 non-null    object
 11  city-mpg          201 non-null    int64
 12  highway-mpg       201 non-null    int64
 13  price             201 non-null    int64
dtypes: float64(3), int64(3), object(8)
memory usage: 22.1+ KB

In [59]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [60]:
automob_df['make'] = le.fit_transform(automob_df['make'])

In [61]:
automob_df['fuel-type'] = le.fit_transform(automob_df['fuel-type'])

In [62]:
automob_df['num-of-doors'] = le.fit_transform(automob_df['num-of-doors'])

In [63]:
automob_df['body-style'] = le.fit_transform(automob_df['body-style'])

In [64]:
automob_df['engine-location'] = le.fit_transform(automob_df['engine-location'])

In [65]:
automob_df['num-of-cylinders'] = le.fit_transform(automob_df['num-of-cylinders'])

In [66]:
automob_df['horsepower'] = le.fit_transform(automob_df['horsepower'])

In [67]:
automob_df['peak-rpm'] = le.fit_transform(automob_df['peak-rpm'])

In [68]:
automob_df.head()

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,2,0,0,168.8,64.1,48.8,2,5,10,21,27,13495
1,0,1,2,0,0,168.8,64.1,48.8,2,5,10,21,27,16500
2,0,1,2,2,0,171.2,65.5,52.4,3,20,10,19,26,16500
3,1,1,1,3,0,176.6,66.2,54.3,2,2,16,24,30,13950
4,1,1,1,3,0,176.6,66.4,54.3,1,8,16,18,22,17450

In [69]:
automob_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              201 non-null    int32
 1   fuel-type         201 non-null    int32
 2   num-of-doors      201 non-null    int32
 3   body-style        201 non-null    int32
 4   engine-location   201 non-null    int32
 5   length            201 non-null    float64
 6   width             201 non-null    float64
 7   height            201 non-null    float64
 8   num-of-cylinders  201 non-null    int32
 9   horsepower        201 non-null    int32
 10  peak-rpm          201 non-null    int32
 11  city-mpg          201 non-null    int64
 12  highway-mpg       201 non-null    int64
 13  price             201 non-null    int64
dtypes: float64(3), int32(8), int64(3)
memory usage: 15.8 KB

In [70]:
am_corr = automob_df.corr()
am_corr[am_corr['price']>0]

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
engine-location,0.053312,0.040917,0.139671,-0.278350,1.000000,-0.053086,-0.052205,-0.109225,0.136009,-0.000673,0.182240,-0.157132,-0.102964,0.331062
length,0.110468,-0.211187,-0.370590,0.347571,-0.053086,1.000000,0.857170,0.492063,-0.111660,-0.223649,-0.274166,-0.665192,-0.698142,0.690628
width,-0.005115,-0.244356,-0.212729,0.155366,-0.052205,0.857170,1.000000,0.306002,-0.158449,-0.236179,-0.227662,-0.633531,-0.680635,0.751265
height,0.230754,-0.281578,-0.513564,0.571107,-0.109225,0.492063,0.306002,1.000000,-0.317029,0.148542,-0.314211,-0.049800,-0.104812,0.135486
num-of-cylinders,-0.049947,0.120638,0.182172,-0.063741,0.136009,-0.111660,-0.158449,-0.317029,1.000000,-0.129605,0.227858,-0.157424,-0.101386,0.005509
price,-0.163646,-0.110326,-0.032289,-0.072933,0.331062,0.690628,0.751265,0.135486,0.005509,-0.333078,-0.111070,-0.686571,-0.704692,1.000000

In [71]:
automob_df_final = automob_df[['engine-location','length',
                              'width','num-of-cylinders',
                              'price']]

automob_df_final.head()

   engine-location  length  width  num-of-cylinders  price
0                0   168.8   64.1                 2  13495
1                0   168.8   64.1                 2  16500
2                0   171.2   65.5                 3  16500
3                0   176.6   66.2                 2  13950
4                0   176.6   66.4                 1  17450

In [72]:
X = automob_df_final[['engine-location','length','width',
                     'num-of-cylinders']]

y = automob_df_final['price']

In [73]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [74]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

In [75]:
dtr.fit(X_train,y_train)

DecisionTreeRegressor()

In [76]:
dtr.score(X_train,y_train)

0.9630896740603494

In [77]:
y_pred = dtr.predict(X_test)

In [78]:
dtr.score(X_test,y_test)

0.8578664676207725

#### Random Forest Regressor

In [79]:
house_df = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/kc_house_data.csv")
house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [80]:
house_df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [81]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [82]:
house_df.drop(['id','date'],axis=1,inplace=True)

In [83]:
house_df.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
price,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
waterfront,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,0.003026,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,-0.014941,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,-0.106500,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

In [87]:
X = house_df[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15']]

y = house_df['price']

In [88]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [90]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()

In [91]:
rfr.fit(X_train,y_train)

RandomForestRegressor()

In [92]:
rfr.score(X_train,y_train)

0.9820654902539686

In [93]:
rfr.predict(X_test)

array([ 848055.31,  831277.  , 1295554.76, ..., 1330336.66, 1127192.96,
        825895.78])

In [94]:
rfr.score(X_test,y_test)

0.8760648491892742